.container {
    display: flex;
    flex-direction: column;
}

* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color: #d3392c;
    color: white;
} */
nav {
    display: flex;
    height: 150px;
    background-color: #d3392c;
    color: white;
}

.logo {
    height: 100%;
    width: 20%;
}

.logo img {
    width: 80%;
    margin-top: 2rem;
    margin-left: 1rem;
}

.services {
    width: 70%;
    display: flex;
}

.item {
    width: 100%;
    margin-top: 1rem;
    margin-left: 6px;
}

.item :hover {
    cursor: pointer;
    color: black;
}

.item img {
    width: 28%;
    margin-left: 10px;
}

.item img:hover {
    transform: scale(1.2);
}

.topics {
    margin-top: 1rem;
    margin-left: 10px;
}

.topics {
    display: flex;
    align-items: center;
}

.topics h1 {
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
}

.topics :hover {
    cursor: pointer;
}

ul>li {
    flex: 1;
    border: 1px solid red;
}

ul li:first-child {
    flex: 1.5;
}

.latest-articles {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}

.latest-articles>div {
    width: 50%;
    border: 1px solid rebeccapurple;
}

.cards {
    width: 50%;
}
